<DIV style="padding-left:200px; padding-top:10px;">
<h1>CATEGORÍA NUEVA </h1>
<table width="750px">
<tr>
	<td ><%= link_to 'Listado categorías', categories_path , :class => 'vermas'   %></td>
</tr>
<tr>
	<td>
<table>
 
<tr>
	<td>
	<%= render 'form' %>	
	</td>
</tr>

</table>
</td>
</tr>
</table>


